<div id="<%= dom_id friend %>">
  <div>
    <strong>First name:</strong>
    <%= friend.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= friend.last_name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= friend.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </div>

  <div>
    <strong>Twitter:</strong>
    <%= friend.twitter %>
  </div>

</div>
